 body {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  margin: 50px;
}

.App-image {
  height: 60vmin;
  margin: 50px;
}

.Nav-image {
  height: 10vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Add this line */

  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a {
  text-decoration: none;

}

.inputField {
  margin: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
  background-color: white;
}

.inputFieldContainer {
  margin: 20px;
}



